:root {
  /*used in progress bar*/
  --progress: 0%;

}

#mainHeader {
  font-size: 6rem;
  text-shadow: -3px 3px #517891;
}

.button {


  background-color: #70A3B8;
  color: #2d2d39;
  border: none;
  border-radius: 5rem;

  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin: 20px;
  transition: 0.3s;

}

.button:hover {
  cursor: pointer;
  transform: translateY(-10px);
}


.checkbox-container {
  margin: 15px;
}

.checkbox-container .checkBox label {
  position: relative;
}

.checkbox-container .checkBox label span {
  cursor: pointer;
  border: solid 2px #F9E2AF;
  display: inline-block;
  position: relative;
  background: none;
  padding: 10px 30px;
  border-radius: 35px;
  text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: 0.5s;
  z-index: 1;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-container .checkBox label span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 35px 35px 0 0;
  background: none;
  transition: 0.5s;
  z-index: -1;
}

.checkbox-container .checkBox input[type="checkbox"]:checked~span:before {
  background-color: #517891;
}

.checkbox-container .checkBox input[type="checkbox"]:checked~span {
  background-color: #51799167;
}


#questionContainer {
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50vw;
  text-align: center;
  border: 4px solid #F9E2AF;
  border-radius: 10px;
  background-color: #517891;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

}

@media screen and (max-width: 600px) {
  #questionContainer {
    font-size: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width:1000px) {
  #questionContainer {
    font-size: 13px;
  }
}

@media screen and (min-width:1001px) {
  #questionContainer {
    font-size: 20px;
  }
}


input[type="radio"] {
  display: none;
}

.radioText label {
  position: relative;
}

.radioText label span {
  position: relative;
  text-align: center;
  border: solid 2.5px #F9E2AF;
  border-radius: 10px;
  background: #517891;
  display: inline-block;
  width: 20vw;
  margin: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  user-select: none;
  cursor: pointer;

  transition: 0.5s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

}

.radioText label input[type="radio"]:checked+span {
  background-color: #c71111;
}

.correctAnswer input[type="radio"]:checked+span {
  background-color: green !important;
}



.progress-container {
  border: none;
  border-color: #F9E2AF;
  position: relative;
  width: 70vw;
  height: 2rem;
  border-radius: 2rem;
  /* shorthand for padding-inline */
  background-color: inherit;
  overflow: hidden;
}

.progress-container::before {
  top: 0;
  bottom: 75%;
  position: absolute;
  width: 100%;
  content: " ";
  background-color: #51799167;
}

.progress-container::after {
  top: 75%;
  bottom: 0;
  position: absolute;
  width: 100%;
  content: " ";
  background-color: #51799167;
}


.progress-bar {
  top: 25%;
  position: absolute;
  height: 50%;
  border-radius: 0.2rem;
  /* Ensures the progress bar fills the container's height */
  /* Matches the container's border-radius */
  width: var(--progress);

  background-color: #517891;
  transition: 0.5s ease;
}

.text-input {
  width: 30vw;
  height: 60px;
  border: solid 4px;
  border-radius: 10px;
  background-color: #F9E2AF;
  color: black;
  font-size: x-large;
  text-align: center;
  border-color: #517891;
}