.button {
  background-color: #EF2323;
  color: blanchedalmond;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  margin: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover {

  background-color: #DECE9C;
  color: black;

}

div {}

.checkbox-container {
  margin: 15px;
}

.checkbox-container .checkBox label {
  position: relative;
}

.checkbox-container .checkBox label span {
  border: solid 2px #12296c;
  color: white;
  display: inline-block;
  position: relative;
  background: none;
  padding: 10px 30px;
  border-radius: 35px;
  text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: 0.5s;
  z-index: 1;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-container .checkBox label span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 35px 35px 0 0;
  background: none;
  transition: 0.5s;
  z-index: -1;
}

.checkbox-container .checkBox input[type="checkbox"]:checked~span:before {
  background-color: #EF2323;
}

.checkbox-container .checkBox input[type="checkbox"]:checked~span {
  background-color: #c71111;
}


#questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 50vw;

  border: 2px solid #DECE9C;
  border-radius: 10px;
  background-color: #12296c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

}



input[type="radio"] {
  display: none;
}

.radioText label {
  position: relative;
}

.radioText label span {
  position: relative;
  text-align: center;
  border: solid 2px #DECE9C;
  border-radius: 10px;
  background: #12296c;
  display: inline-block;
  width: 20vw;
  margin: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  user-select: none;
  cursor: pointer;

  transition: 0.5s;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);

}

.radioText label input[type="radio"]:checked+span {
  background-color: #c71111;
}

.correctAnswer input[type="radio"]:checked+span {
  background-color: green !important;
}